/* Clock & Calendar */

.BE--Clock {  
      padding: 1 12 0 4;
      font-weight: bold;
      margin: 0 -2 1 4;
}

#Calendar { 
/*       background-color: rgba(37,37,37,100%); */
}

#Calendar QTableView {
      alternate-background-color: rgba(25,28,32,100%);
      selection-background-color: palette(AlternateBase); /* rgba(49,49,51,100%) */
      selection-color: rgba(255,255,255,100%);
      background: rgba(25,28,32,100%);
      gridline-color: rgb(38,38,38,55);
      font-size: 10pt; 
      font-weight: normal;
      font-family: HelveticaNeue, Liberation Sans, Nimbus Sans, Arimo, Roboto;
}

#Calendar QTableView:disabled  {
      color: rgba(98,98,98,100%);
}

#Calendar QTableView:enabled  {
      color: rgba(255,255,255,100%);
}

#Calendar #qt_calendar_navigationbar {
    background-color: rgba(25,28,32,100%);
/*     border-bottom: 1px solid rgba(95,95,95,255); */
}

#Calendar #qt_calendar_navigationbar, #Calendar #qt_calendar_navigationbar > * {
      color: rgba(255,255,255,100%);
      font-size: 10pt;
      padding: 10 5 10 5;
      font-family: HelveticaNeue, Liberation Sans, Nimbus Sans, Arimo, Roboto;
}