/*Global Menu*/
.BE--GMenu QMenuBar::item { font: 9pt roboto; color: rgba(214,214,214,255); padding: 0 4 0 4; }
.BE--GMenu QMenuBar::item::selected { border-left: 1px solid rgb(214,214,214); color: rgba(214,214,214,255); }
